<!DOCTYPE html>
<html>
  <head>
    <title>oneVoca</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/users.css">
  </head>
  <body>
    <header>
        개인페이지 헤더
    </header>

    <div id="wrapper">
        <nav>
            <div>
                <button type="button" class="btn btn-outline-primary">Primary</button>
            </div>


        </nav>

        <section>
            <div>section</div>
        </section>

        <aside>
            <div>aside</div>
        </aside>
    </div>
    
    
    <script defer type="module" src="/javascripts/usersPage.js"></script>
    <!-- cdn 링크로 jsPDF 사용 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <!-- 부트스트랩 드롭다운 쓰려면 popper 를 포함하고있는 bootstrap.bundle.min.js 를 포함시켜줘야한다 -->
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>
