html, body{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    display: flex;
}

nav{
    width: 20vw;
    height: 90vh;
    background-color: blue;
}

section{
    width: 60vw;
    height: 90vh;
    background-color: red;
}

aside{
    width: 20vw;
    height: 90vh;
    background-color: green;
}

.word{
    font-size: 20px;
    font-weight: bold;
}

.partOfSpeech{
    font-size: 14px;
    color: gray;
}

.definition{
    font-size: 16px;
    margin-bottom: 8px;
}

.example{
    font-size: 14px;
    margin-bottom: 8px;
}
