html, body{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F4F9FF;
}

#wrapper{
    display: flex;
}

nav{
    width: 15vw;
    height: 85vh;
}

section{
    width: 55vw;
    height: 85vh;
}

aside{
    width: 15vw;
    height: 85vh;
}

.logo-btn{
    width: 100%;
    height: 8vh;
    border: none;
    background-color: lightblue;
    font-size: 40px;
    font-weight: bold;
    color: white; 
    font-family: 'Times New Roman', Times, serif;
}

#account-div{
    display: flex;
    justify-content: flex-end;

    position: absolute;
    right: 1rem;
}

#account-div button i{
    font-size: 1.6rem;
}

#withdrawal-li{ 
   cursor: pointer; 
}

#modal-div{
    margin: 10px;
}

#add-folder-btn{
    width: 100%;
    font-size: 1.6rem;
}

#account-btn{
    background: none;
    border: none;
    font-size: 30px;
}

.word{
    font-size: 20px;
    font-weight: bold;
}

.partOfSpeech{
    font-size: 14px;
    color: gray;
}

.definition{
    font-size: 16px;
    margin-bottom: 8px;
}

.example{
    font-size: 14px;
    margin-bottom: 8px;
}

.word-div{
    height: 85vh;
    overflow-y: auto;
}

.word-collapse{
    transition: height 0.8s ease;
}

.title-collapse{
    height: 85vh;
    overflow-y: auto;
}

.folder-list-group{
    height: 75vh;
    overflow-y: auto;
    align-items: center;
}

#switch-wrapper{
    display: flex;
    justify-content: center;

    height: 6vh;
    align-items: center;
}

.form-switch label{
    margin-left: 10px;
    margin-right: 5vw;
}

.hide{
    visibility: hidden;
}